*{
  margin: 0;
  padding: 0;
}
.box{
  position: relative;
  margin: 300px auto 0;
  width: 1300px;
  height: 340px;
}
.list{
  position: absolute;
  left: 50%;
  margin-left: -600px;
  width: 1200px;
  height: 300px;
  overflow: hidden;
}
.btn{
  position: absolute;
  top: 50%;
  margin-top: -70px;
  width: 60px;
  height: 100px;
  line-height: 100px;
  font-size: 30px;
  color: white;
  text-decoration: none;
  text-align: center;
  background: rgba(0,255,0,.5);
  cursor: pointer;
}
.next{
  right: 0;
}
li{
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  opacity: 0;
  transition: all 0.3s ease-out;
}
img{
  float: left;
  width: 751px;
  height: 300px;
  border:none;
}
.p1{
  transform:translate3d(-224px,0,0) scale(0.81);
}
.p2{
  transform:translate3d(0px,0,0) scale(0.81);
  transform-origin:0 50%;
  opacity: 0.8;
  z-index: 2;
}
.p3{
  transform:translate3d(224px,0,0) scale(1);
  z-index: 3;
  opacity: 1;
}
.p4{
  transform:translate3d(449px,0,0) scale(0.81);
  transform-origin:100% 50%;
  opacity: 0.8;
  z-index: 2;
}
.p5{
  transform:translate3d(672px,0,0) scale(0.81);
}
.p6{
  transform:translate3d(896px,0,0) scale(0.81);
}
.p7{
  transform:translate3d(1120px,0,0) scale(0.81);
}
.buttons{
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -600px;
  padding-top: 10px;
  width: 1200px;
  height: 30px;
  text-align: center;
}
.buttons a{
  display: inline-block;
  padding-top: 4px;
  width: 35px;
  height: 5px;
  cursor: pointer;
}
span{
  display: block;
  width: 35px;
  height: 1px;
  background: red;
}
.blue{
  background: blue;
}